/* Container για όλο το AboutMe section */
.about-container-aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #5b585c; /* Δουλεύουμε με πιο σκούρο φόντο */
  color: #e5e7eb; /* Ανοιχτό γκρι χρώμα για κείμενο */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

/* Στυλ για το κείμενο */
.text-section-aboutMe {
  max-width: 55%;
  padding: 1.5rem;
}

.title-aboutMe {
  font-size: 2.2rem;
  color: #f734f7;
}

.paragraph-aboutMe {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d1d5db; /* Ανοιχτό γκρι για το κείμενο */
  margin-bottom: 2rem;
}

/* Στυλ για το τμήμα εικόνας */
.image-section-aboutMe {
  max-width: 35%;
}

.image-aboutMe {
  border-radius: 10px;
  width: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Στυλ για το κουμπί για το CV */
.cv-button-aboutMe {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #f734f7;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cv-button-aboutMe:hover {
  background-color: #720b78;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  /* Container για όλο το AboutMe section */
  .about-container-aboutMe {
    flex-direction: column; /* Τα στοιχεία τοποθετούνται κάθετα */
    padding: 2rem; /* Μειώσαμε το padding για μικρότερες οθόνες */
    align-items: center; /* Κεντράρισμα του περιεχομένου */
  }

  /* Στυλ για το κείμενο */
  .text-section-aboutMe {
    max-width: 90%; /* Αυξήσαμε το πλάτος του κειμένου για μικρότερες οθόνες */
    padding: 1rem; /* Μειώσαμε το padding */
  }

  /* Στυλ για το τμήμα εικόνας */
  .image-section-aboutMe {
    max-width: 80%; /* Μειώσαμε το πλάτος της εικόνας */
    margin-top: 1.5rem; /* Προσθέσαμε κενό πάνω από την εικόνα */
  }

  .image-aboutMe {
    width: 100%; /* Η εικόνα καταλαμβάνει όλο το διαθέσιμο πλάτος */
  }

  /* Στυλ για το κουμπί για το CV */
  .cv-button-aboutMe {
    width: 100%; /* Το κουμπί καταλαμβάνει το 100% του πλάτους */
    padding: 1rem; /* Αυξήσαμε το padding για μεγαλύτερο κουμπί */
  }
}

@media (max-width: 480px) {
  /* Ειδικά για πολύ μικρές οθόνες (π.χ. κινητά) */
  
  /* Στυλ για το κείμενο */
  .text-section-aboutMe {
    max-width: 95%; /* Περίπου το 100% του πλάτους για καλύτερη προσαρμογή */
    padding: 0.8rem; /* Μικρότερο padding */
  }

  /* Στυλ για το τμήμα εικόνας */
  .image-section-aboutMe {
    max-width: 100%; /* Η εικόνα καταλαμβάνει όλο το πλάτος */
    margin-top: 1rem; /* Μειώσαμε το κενό πάνω από την εικόνα */
  }

  /* Στυλ για το κουμπί για το CV */
  .cv-button-aboutMe {
    padding: 1rem; /* Μεγαλώσαμε το padding για καλύτερη αλληλεπίδραση */
  }
}
